<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Women In Optics</h1>
						<p><b>SPIE Techno India Student Chapter</b><br><b>
						<span><a href="https://goo.gl/kqKbxD">Take Part in Women In STEM - WIO on April 11th,'17</a></span></b></p>
						<nav>
							<ul>
                  <li><a href="/" class="icon fa-envelope" title="Home"><span class="label">Here</span></a></li>
							    <li><a href="/home" class="icon fa-home" title="Home"><span class="label">Home</span></a></li>
								<li><a href="/events" class="icon fa-calendar" title="Events"><span class="label">Events</span></a></li>
								<!--<li><a href="/forum" class="icon fa-university" alt="Forum"><span class="label">Forum</span></a></li>
								--><li><a href="/blog" class="icon fa-rss" title="Blog"><span class="label">Blog</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->

					<footer id="footer">
						<span>SPIETI is powered by <a href="http://spie.org/">SPIE</a>.
						
						</span>
					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
