<!DOCTYPE HTML>
<html>
	<head>
		<title>SHAKTI - Events LineUp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../css/main2.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

		<!-- Header -->
			<header id="header">
				<h1>SHAKTI - Home</h1>
				<nav>
					<ul>
						<li><a href="https://wiospieti.github.io/">Back To Front Page</a></li>
						<li><a href="/home">Home</a></li>
						<li><a href="/">Events</a></li>
						<!--<li><a href="blog">Blog</a></li>-->
					</ul>
				</nav>
			</header>

		
			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="7u 12u(medium)">
								<h2><center>Events</center></h2>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="4u 12u(medium)">

								<!-- Box -->
									<section class="box feature">
										<a href="" class="image featured"><img src="../css/images/01.jpg" alt="Moumita Dutta" /></a>
										<div class="inner">
											<header>
												<h2>WIO Seminar cum Panel Discussion, Techno India Salt Lake</h2>
												<p><strong>Upcoming:</strong> 29th April, 2017</p>
											</header>
											<p>
											   The event will be inaugurated with the Guest lecture by Moumita Dutta, Scientist at the Space Applications Centre, Indian Space Research Organisation (ISRO). Packed with 
											   panel discussion on ‘Diverse career choices for 21st Century Indian Women’ addressed by eminent scientist, security officer and artists, Students Essay writing competition and PPT Presentation to follow, we will welcome all irrespective of genres. The session will end with prize distribution. Welcome Kits with Food coupon will be provided free of cost. To Register, Please input your details. All necessary information are added in the brochure and registration link. For further enquiry, Please contact us.  


											</p>
										</div>

									</section>

							</div>
							<div class="4u 12u(medium)">

								<!-- Box -->
									<section class="box feature">
										<a href="#details1" class="image featured"><img src="../css/images/02.jpg" alt="Halisahar Outreach" /></a>
										<div class="inner">
											<header>
												<h2>Outreach activity at Malancha High School, Halisahar</h2>
												<p>18th November, 2016</p>
											</header>
											<p>This was our very first Women in Optics event, aimed at fifty odd middle school students from Malancha High School, Halisahar. The programme began with an introduction to SPIE, followed by interactive lectures on astronomy and basic optical physics. After completing each broad topic, we put questions to the students and the ones who answered them correctly were presented with prizes. As some of them experienced such an event for the first time they further invited us to help them with their studies. The session concluded with a series of practical demonstrations which the students enjoyed thoroughly and gave us a fruitful feedback. </p>
										</div>
									</section>

							</div>
							<div class="4u 12u(medium)">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="../css/images/03.JPG" alt="Bally Outreach" /></a>
										<div class="inner">
											<header>
												<h2>Outreach activity at Bally Siksha Niketan for Girls, Bally</h2>
												<p>15th February, 2017</p>
											</header>
											<p>Being our first outreach activity at an all-girls school, the demonstrations on some of the key aspects of astronomy, optics were catered to about thirty bright-eyed girls spanning across standards eight, nine and ten. The aim of this program was to inspire the young women hailing from economically challenged backgrounds to take up science/technology as their careers. As the schools in the rural areas lack proper laboratory facilities, we emphasize on practical demonstrations which would broaden their understanding of the key concepts. We hope that such endeavours by us will play a part in nurturing these inquisitive minds and support them to fulfil their ambitions.</p>
										</div>
									</section>

							</div>
						</div>
					</div>
			</div>
		</div>
				

			
<!--footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>Made With &#9825; by SPIE Techno India Chapter</li>
					</ul>

			</footer>

		<!-- Scripts -->

			<script src="../js/jquery1.min.js"></script>
			<script src="../js/jquery1.dropotron.min.js"></script>
			<script src="../js/skel1.min.js"></script>
			<script src="../js/util1.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../js/main1.js"></script>
		
	</body>
</html>
